# import libraries
import pandas as pd
import numpy as np

# get the data from csv file to dataframe
raw_data = pd.read_csv('data/amazon_datafiniti.csv', low_memory=False)

# check ctolumn name
raw_data.columns

In [2]:
raw_data.head()

,id,dateAdded,dateUpdated,name,asins,brand,categories,primaryCategories,imageURLs,keys,...,reviews.dateSeen,reviews.doRecommend,reviews.id,reviews.numHelpful,reviews.rating,reviews.sourceURLs,reviews.text,reviews.title,reviews.username,sourceURLs
0,AVqVGZNvQMlgsOJE6eUY,2017-03-03T16:56:05Z,2018-10-25T16:36:31Z,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",B00ZV9PXP2,Amazon,"Computers,Electronics Features,Tablets,Electro...",Electronics,https://pisces.bbystatic.com/image2/BestBuy_US...,allnewkindleereaderblack6glarefreetouchscreend...,...,"2018-05-27T00:00:00Z,2017-09-18T00:00:00Z,2017...",False,NaN,0,3,http://reviews.bestbuy.com/3545/5442403/review...,I thought it would be as big as small paper bu...,Too small,llyyue,https://www.newegg.com/Product/Product.aspx%25...
1,AVqVGZNvQMlgsOJE6eUY,2017-03-03T16:56:05Z,2018-10-25T16:36:31Z,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",B00ZV9PXP2,Amazon,"Computers,Electronics Features,Tablets,Electro...",Electronics,https://pisces.bbystatic.com/image2/BestBuy_US...,allnewkindleereaderblack6glarefreetouchscreend...,...,"2018-05-27T00:00:00Z,2017-07-07T00:00:00Z,2017...",True,NaN,0,5,http://reviews.bestbuy.com/3545/5442403/review...,This kindle is light and easy to use especiall...,Great light reader. Easy to use at the beach,Charmi,https://www.newegg.com/Product/Product.aspx%25...
2,AVqVGZNvQMlgsOJE6eUY,2017-03-03T16:56:05Z,2018-10-25T16:36:31Z,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",B00ZV9PXP2,Amazon,"Computers,Electronics Features,Tablets,Electro...",Electronics,https://pisces.bbystatic.com/image2/BestBuy_US...,allnewkindleereaderblack6glarefreetouchscreend...,...,2018-05-27T00:00:00Z,True,NaN,0,4,https://reviews.bestbuy.com/3545/5442403/revie...,Didnt know how much i'd use a kindle so went f...,Great for the price,johnnyjojojo,https://www.newegg.com/Product/Product.aspx%25...
3,AVqVGZNvQMlgsOJE6eUY,2017-03-03T16:56:05Z,2018-10-25T16:36:31Z,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",B00ZV9PXP2,Amazon,"Computers,Electronics Features,Tablets,Electro...",Electronics,https://pisces.bbystatic.com/image2/BestBuy_US...,allnewkindleereaderblack6glarefreetouchscreend...,...,2018-10-09T00:00:00Z,True,177283626.0,3,5,https://redsky.target.com/groot-domain-api/v1/...,I am 100 happy with my purchase. I caught it o...,A Great Buy,Kdperry,https://www.newegg.com/Product/Product.aspx%25...
4,AVqVGZNvQMlgsOJE6eUY,2017-03-03T16:56:05Z,2018-10-25T16:36:31Z,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",B00ZV9PXP2,Amazon,"Computers,Electronics Features,Tablets,Electro...",Electronics,https://pisces.bbystatic.com/image2/BestBuy_US...,allnewkindleereaderblack6glarefreetouchscreend...,...,2018-05-27T00:00:00Z,True,NaN,0,5,https://reviews.bestbuy.com/3545/5442403/revie...,Solid entry level Kindle. Great for kids. Gift...,Solid entry-level Kindle. Great for kids,Johnnyblack,https://www.newegg.com/Product/Product.aspx%25...

In [3]:
# check unique username and goods name
user_count = raw_data['reviews.username'].unique().shape[0]
item_count = raw_data['name'].unique().shape[0]

print("user count: " + str(user_count) + ", item count: " + str(item_count))

user count: 3815, item count: 23

In [4]:
raw_data.shape

(5000, 24)

In [5]:
# make item table
itemdf = pd.DataFrame()
itemid = []
itemname = list(set(raw_data['name']))
itemdf['itemname'] = itemname
itemdf.insert(0, 'itemId', range(1, 1 + len(itemname)))
itemdf

    itemId                                           itemname
0        1  Brand New Amazon Kindle Fire 16gb 7" Ips Displ...
1        2  Amazon Fire TV with 4K Ultra HD and Alexa Voic...
2        3  Amazon 9W PowerFast Official OEM USB Charger a...
3        4  Fire Tablet, 7 Display, Wi-Fi, 16 GB - Include...
4        5  All-New Fire HD 8 Tablet, 8" HD Display, Wi-Fi...
5        6  All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...
6        7  Fire Kids Edition Tablet, 7 Display, Wi-Fi, 16...
7        8  Fire HD 10 Tablet, 10.1 HD Display, Wi-Fi, 16 ...
8        9  Kindle E-reader - White, 6 Glare-Free Touchscr...
9       10  All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...
10      11  Amazon Tap - Alexa-Enabled Portable Bluetooth ...
11      12  Amazon - Kindle Voyage - 4GB - Wi-Fi + 3G - Black
12      13  All-New Fire HD 8 Tablet, 8" HD Display, Wi-Fi...
13      14  Fire Tablet with Alexa, 7" Display, 16 GB, Mag...
14      15  All-New Fire HD 8 Tablet, 8" HD Display, Wi-Fi...
15      16  Fire Kids Edition Tablet, 7 Display, Wi-Fi, 16...
16      17  Kindle Oasis E-reader with Leather Charging Co...
17      18  Kindle Oasis E-reader with Leather Charging Co...
18      19  Amazon Kindle E-Reader 6" Wifi (8th Generation...
19      20        Amazon - Echo Plus w/ Built-In Hub - Silver
20      21          Amazon - Kindle Voyage - 6" - 4GB - Black
21      22  Fire HD 8 Tablet with Alexa, 8" HD Display, 32...
22      23  Amazon Echo Show Alexa-enabled Bluetooth Speak...

In [6]:
# make user table
userdf = pd.DataFrame()
userid = []
username = list(set(raw_data['reviews.username']))
userdf['username'] = username
userdf.insert(0, 'userId', range(1, 1 + len(username)))
userdf

      userId         username
0          1             bear
1          2            Isaac
2          3           Andrea
3          4            JWF46
4          5           ChrisH
5          6           booboo
6          7            barom
7          8      Bucsfanatic
8          9           Rjob74
9         10             Rami
10        11           B61MD1
11        12             Marg
12        13           zephyr
13        14           Spanky
14        15            Sfcc6
15        16            Eicfi
16        17            OKyES
17        18           dpeter
18        19        Josaphine
19        20         Tpc88888
20        21        BradmanTX
21        22             Zoom
22        23      gadgetguy11
23        24             fuji
24        25         Talia501
25        26         nebrando
26        27        Tgiberson
27        28          funfam3
28        29  ConsistentBuyer
29        30           GoBlue
...      ...              ...
3785    3786             Robp
3786    3787        wagostini
3787    3788       GaTraveler
3788    3789          PaulsRv
3789    3790        Chevygirl
3790    3791         JudyKnit
3791    3792          gllanes
3792    3793      LisaOpinion
3793    3794          Charlie
3794    3795         crlybrgr
3795    3796           Tral70
3796    3797           Pamela
3797    3798             mary
3798    3799    SpartyForLife
3799    3800            TXCJG
3800    3801          SteinyD
3801    3802           Marisa
3802    3803             Brad
3803    3804             Demi
3804    3805         Sandi987
3805    3806            Jdlk1
3806    3807          Osmaidi
3807    3808            Jason
3808    3809        Jandevito
3809    3810           Jeremy
3810    3811      Goldenspire
3811    3812      AlexaTheDOT
3812    3813         JJacknAZ
3813    3814            Chris
3814    3815          PLeyava

[3815 rows x 2 columns]

In [7]:
data_reviews = raw_data[
    ['name', 
     'reviews.username',
     'reviews.rating', 
     'reviews.text']
]
data_reviews.head()

,name,reviews.username,reviews.rating,reviews.text
0,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",llyyue,3,I thought it would be as big as small paper bu...
1,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",Charmi,5,This kindle is light and easy to use especiall...
2,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",johnnyjojojo,4,Didnt know how much i'd use a kindle so went f...
3,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",Kdperry,5,I am 100 happy with my purchase. I caught it o...
4,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",Johnnyblack,5,Solid entry level Kindle. Great for kids. Gift...

In [8]:
reviewsdf= pd.merge(data_reviews, itemdf, how='left',
                    left_on='name', right_on='itemname')
reviewsdf= pd.merge(reviewsdf, userdf, how='left',
                    left_on='reviews.username', 
                    right_on='username')
reviewsdf.head()

,name,reviews.username,reviews.rating,reviews.text,itemId,itemname,userId,username
0,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",llyyue,3,I thought it would be as big as small paper bu...,19,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",2976,llyyue
1,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",Charmi,5,This kindle is light and easy to use especiall...,19,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",3339,Charmi
2,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",johnnyjojojo,4,Didnt know how much i'd use a kindle so went f...,19,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",1472,johnnyjojojo
3,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",Kdperry,5,I am 100 happy with my purchase. I caught it o...,19,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",603,Kdperry
4,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",Johnnyblack,5,Solid entry level Kindle. Great for kids. Gift...,19,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",332,Johnnyblack

In [9]:
reviewsdf.columns

Index(['name', 'reviews.username', 'reviews.rating', 'reviews.text', 'itemId',
       'itemname', 'userId', 'username'],
      dtype='object')

In [10]:
# Data Reduction

# remove reapeted column
reviewsdf.drop(['name', 
                'reviews.username', 
                'itemname', 'username'], axis=1,
               inplace = True)

reviewsdf.head()

,reviews.rating,reviews.text,itemId,userId
0,3,I thought it would be as big as small paper bu...,19,2976
1,5,This kindle is light and easy to use especiall...,19,3339
2,4,Didnt know how much i'd use a kindle so went f...,19,1472
3,5,I am 100 happy with my purchase. I caught it o...,19,603
4,5,Solid entry level Kindle. Great for kids. Gift...,19,332

In [11]:
# rename the columns
reviewsdf.rename(
    columns={
        'itemId':'itemId',
        'userId': 'userId',
        'reviews.rating': 'rating', 
        'reviews.text': 'testimony'}, 
    inplace=True)

reviewsdf.head()

   rating                                          testimony  itemId  userId
0       3  I thought it would be as big as small paper bu...      19    2976
1       5  This kindle is light and easy to use especiall...      19    3339
2       4  Didnt know how much i'd use a kindle so went f...      19    1472
3       5  I am 100 happy with my purchase. I caught it o...      19     603
4       5  Solid entry level Kindle. Great for kids. Gift...      19     332

In [12]:
# check the total reviews of each item before duplicate detected
# check_reviews_subtotal_bef_dup = reviewsdf.groupby(['itemId']).count()
# check_reviews_subtotal_bef_dup

In [13]:
# sub total review before remove duplicate
# itemdf['bef_subtotal_review']=[x for x in check_reviews_subtotal_bef_dup.rating]
# itemdf

In [14]:
# reviewsdf.shape

In [15]:
print(reviewsdf.duplicated().sum())

195

In [16]:
# drop duplicate data
reviewsdf.drop_duplicates(keep="last", inplace=True)
reviewsdf.shape

(4805, 4)

In [17]:
# check the total reviews of each item after duplicate detected
check_reviews_subtotal = reviewsdf.groupby(['itemId']).count()
check_reviews_subtotal

        rating  testimony  userId
itemId
1          418        418     418
2           22         22      22
3           40         40      40
4           24         24      24
5           32         32      32
6          556        556     556
7          101        101     101
8          225        225     225
9            4          4       4
10          96         96      96
11         217        217     217
12          67         67      67
13          96         96      96
14          21         21      21
15          58         58      58
16          53         53      53
17         140        140     140
18          45         45      45
19         590        590     590
20         751        751     751
21         796        796     796
22          82         82      82
23         371        371     371

In [18]:
# sub total review after remove duplicate
itemdf['subtotal_review']=[x for x in check_reviews_subtotal.rating]
itemdf

,itemId,itemname,bef_subtotal_review,subtotal_review
0,1,"Brand New Amazon Kindle Fire 16gb 7"" Ips Displ...",467,418
1,2,Amazon 9W PowerFast Official OEM USB Charger a...,22,22
2,3,"All-New Fire HD 8 Tablet, 8"" HD Display, Wi-Fi...",40,40
3,4,Kindle Oasis E-reader with Leather Charging Co...,24,24
4,5,Kindle Oasis E-reader with Leather Charging Co...,39,32
5,6,"Fire Kids Edition Tablet, 7 Display, Wi-Fi, 16...",561,556
6,7,"Fire Tablet with Alexa, 7"" Display, 16 GB, Mag...",101,101
7,8,Amazon Tap - Alexa-Enabled Portable Bluetooth ...,225,225
8,9,Amazon Fire TV with 4K Ultra HD and Alexa Voic...,4,4
9,10,"Fire HD 10 Tablet, 10.1 HD Display, Wi-Fi, 16 ...",106,96
10,11,"Fire Kids Edition Tablet, 7 Display, Wi-Fi, 16...",217,217
11,12,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",70,67
12,13,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",96,96
13,14,Amazon - Kindle Voyage - 4GB - Wi-Fi + 3G - Black,22,21
14,15,"All-New Fire HD 8 Tablet, 8"" HD Display, Wi-Fi...",58,58
15,16,"Fire HD 8 Tablet with Alexa, 8"" HD Display, 32...",53,53
16,17,"Kindle E-reader - White, 6 Glare-Free Touchscr...",159,140
17,18,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",51,45
18,19,Amazon - Echo Plus w/ Built-In Hub - Silver,590,590
19,20,Amazon Echo Show Alexa-enabled Bluetooth Speak...,845,751
20,21,"All-New Fire HD 8 Tablet, 8"" HD Display, Wi-Fi...",797,796
21,22,"Amazon - Kindle Voyage - 6"" - 4GB - Black",82,82
22,23,"Fire Tablet, 7 Display, Wi-Fi, 16 GB - Include...",371,371

In [18]:
reviewsdf.head()

   rating                                          testimony  itemId  userId
0       3  I thought it would be as big as small paper bu...      19    2976
1       5  This kindle is light and easy to use especiall...      19    3339
2       4  Didnt know how much i'd use a kindle so went f...      19    1472
3       5  I am 100 happy with my purchase. I caught it o...      19     603
4       5  Solid entry level Kindle. Great for kids. Gift...      19     332

In [19]:
# save reviews 
reviewsdf.to_csv("data/reviews.csv")
# save the itemdf to csv file
itemdf.to_csv("data/item.csv")
# save the userdf to csv file
userdf.to_csv("data/user.csv")